In [1]:
from __future__ import annotations
import typing
from typing import NewType, Union, Optional, List, Callable
import dataclasses

import metadsl
import metadsl_rewrite
import metadsl_core
import pandas as pd

from toki import datatypes as dts
from toki import types as tt
from toki.backend import Backend, BackendTranslator
from toki.viz import visualize

In [2]:
sch = tt.TableSchema.expr({
    'col_1': {'type': 'int64', 'nullable': True},
    'col_2': {'type': 'float64', 'nullable': True},
})

print(sch)

TableSchema
  col_1: int64(nullale)
  col_2: float64(nullale)

In [3]:
type(sch.function)

metadsl.typing_tools.Infer

In [4]:
dts.Number.expr(1) + dts.Number.expr(1)

Number.Add([Number([1]), Number([1])])

In [5]:
dts.int8(1) + dts.int8(8)

Int8.Add([int8([1]), int8([8])])

In [6]:
dts.int8(1) - dts.int8(8)

Int8.Subtract([int8([1]), int8([8])])

In [7]:
table = tt.Table.expr(
    'my_table', 
    sch, 
    database_name='postgres', 
    database_schema_name='public'
)
table

postgres.public.my_table: Table
  col_1: int64(nullale)
  col_2: float64(nullale)

In [8]:
type(table)

toki.types.Table

In [9]:
table['col_1'] + 1

IntegerColumn.Add([IntegerColumn[col_1]
  postgres.public.my_table: Table
    col_1: int64(nullale)
    col_2: float64(nullale)

, 1])

In [10]:
table[['col_1']]

Projection[['col_1']]
  postgres.public.my_table: Table
    col_1: int64(nullale)
    col_2: float64(nullale)

In [15]:
table['col_1'].name('tmp')

IntegerColumn[col_1](as tmp)
  postgres.public.my_table: Table
    col_1: int64(nullale)
    col_2: float64(nullale)

In [14]:
table['col_1']

IntegerColumn[col_1]
  postgres.public.my_table: Table
    col_1: int64(nullale)
    col_2: float64(nullale)